name: Build Bitcoin Knots images

on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build:
    name: Build v${{ matrix.knots.version }} on ${{ matrix.runner }}
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        knots:
          - { version: "26.1.knots20240513", context: "autotools" }
          - { version: "27.1.knots20240801", context: "autotools" }
          - { version: "28.1.knots20250305", context: "autotools" }
          - { version: "29.1.knots20250903", context: "cmake" }
          - { version: "29.2.knots20251010", context: "cmake" }
          - { version: "29.2.knots20251110", context: "cmake" }
        runner:
          - "ubuntu-24.04"
          - "ubuntu-24.04-arm"
    steps:
      - uses: actions/checkout@v5
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v6
        with:
          build-args: |
            KNOTS_VERSION=${{ matrix.knots.version }}
          cache-from: type=registry,ref=ghcr.io/bcnbitcoinonly/bitcoin:v${{ matrix.knots.version }}-${{ matrix.runner }}
          cache-to: type=inline
          context: ${{ matrix.knots.context }}
          provenance: false
          push: true
          sbom: false
          tags: ghcr.io/bcnbitcoinonly/bitcoin:v${{ matrix.knots.version }}-${{ matrix.runner }}

  merge:
    name: Merge v${{ matrix.knots_version }}
    runs-on: ubuntu-latest
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        knots_version:
          - "26.1.knots20240513"
          - "27.1.knots20240801"
          - "28.1.knots20250305"
          - "29.1.knots20250903"
          - "29.2.knots20251010"
          - "29.2.knots20251110"
    steps:
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: 1maa
          password: ${{ secrets.DOCKER_HUB_PASS }}
      - run: |
          docker buildx imagetools create \
            -t 1maa/bitcoin:v${{ matrix.knots_version }} \
            ghcr.io/bcnbitcoinonly/bitcoin:v${{ matrix.knots_version }}-ubuntu-24.04 \
            ghcr.io/bcnbitcoinonly/bitcoin:v${{ matrix.knots_version }}-ubuntu-24.04-arm

  cleanup:
    name: Cleanup old GHCR tags
    runs-on: ubuntu-latest
    needs:
      - merge
    steps:
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/delete-package-versions@v5
        with:
          package-name: bitcoin
          package-type: container
          delete-only-untagged-versions: true
          min-versions-to-keep: 0
