name: Build Bitcoin Knots images

on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build:
    name: Build v${{ matrix.knots.version }} on ${{ matrix.runner }}
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        knots:
          - { version: "27.1.knots20240801", context: "autotools" }
          - { version: "28.1.knots20250305", context: "autotools" }
          - { version: "29.1.knots20250903", context: "cmake" }
          - { version: "29.2.knots20251010", context: "cmake" }
          - { version: "29.2.knots20251110", context: "cmake" }
          - { version: "29.3.knots20260210", context: "cmake" }
        runner:
          - "ubuntu-24.04"
          - "ubuntu-24.04-arm"
    env:
      CONTEXT: ${{ matrix.knots.context }}
      RUNNER: ${{ matrix.runner }}
      VERSION: ${{ matrix.knots.version }}
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/bake-action@v6
        with:
          provenance: false
          push: true
          sbom: false
          targets: knots

  build-bip110:
    name: Build latest BIP-110 ${{ matrix.runner }}
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        runner:
          - "ubuntu-24.04"
          - "ubuntu-24.04-arm"
    env:
      RUNNER: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/bake-action@v6
        with:
          provenance: false
          push: true
          sbom: false
          targets: bip110

  merge:
    name: Merge v${{ matrix.knots_version }}
    runs-on: ubuntu-latest
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        knots_version:
          - "27.1.knots20240801"
          - "28.1.knots20250305"
          - "29.1.knots20250903"
          - "29.2.knots20251010"
          - "29.2.knots20251110"
          - "29.3.knots20260210"
    env:
      LATEST_VERSION: "29.3.knots20260210"
    steps:
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: 1maa
          password: ${{ secrets.DOCKER_HUB_PASS }}
      - run: |
          docker buildx imagetools create \
            -t 1maa/bitcoin:v${{ matrix.knots_version }} \
            ghcr.io/bcnbitcoinonly/bitcoin:v${{ matrix.knots_version }}-ubuntu-24.04 \
            ghcr.io/bcnbitcoinonly/bitcoin:v${{ matrix.knots_version }}-ubuntu-24.04-arm
      - if: ${{ matrix.knots_version == env.LATEST_VERSION }}
        run: |
          docker buildx imagetools create \
            -t 1maa/bitcoin:latest \
            1maa/bitcoin:v${{ matrix.knots_version }}

  merge-bip110:
    name: Merge latest BIP-110
    runs-on: ubuntu-latest
    needs:
      - build-bip110
    steps:
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: 1maa
          password: ${{ secrets.DOCKER_HUB_PASS }}
      - run: |
          docker buildx imagetools create \
            -t 1maa/bitcoin:v29.3.knots20260210-bip110-v0.2 \
            ghcr.io/bcnbitcoinonly/bitcoin:v29.3.knots20260210-bip110-v0.2-ubuntu-24.04 \
            ghcr.io/bcnbitcoinonly/bitcoin:v29.3.knots20260210-bip110-v0.2-ubuntu-24.04-arm

  cleanup:
    name: Cleanup old GHCR tags
    runs-on: ubuntu-latest
    needs:
      - merge
      - merge-bip110
    steps:
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/delete-package-versions@v5
        with:
          package-name: bitcoin
          package-type: container
          delete-only-untagged-versions: true
          min-versions-to-keep: 0

  miner:
    name: Build signet miner image from latest Knots version
    runs-on: ubuntu-latest
    needs:
      - merge
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: 1maa
          password: ${{ secrets.DOCKER_HUB_PASS }}
      - uses: docker/bake-action@v6
        with:
          provenance: false
          push: true
          sbom: false
          targets: miner
